version: "3.3"

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysqldb_container
    restart: unless-stopped
    env_file: ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - $MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT
    volumes:
      - db:/var/lib/mysql
  app:
    depends_on:
      - mysqldb
    image: hsounabm/spring-app:latest
    container_name: springboot_container
    ##restart: on-failure
    ports:
      - 8000:8089
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true
volumes:
  db:
